* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

* a{
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #202020;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    padding:0rem 1.6rem;
    background-color: #202020ea;
    width: 100vw;
    height: 3.5rem;
    position: sticky;
    top: 0%;

    backdrop-filter: blur(3px);
}

header .logo {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
    justify-content: left;
}

header .search {
    display: grid;
    grid-template-columns:500px 4rem 2.4rem;
    grid-gap: none;
    align-items: center;
    justify-items: left;
    width: 100%;
}

header .search input[type=text] {
    padding: .7rem;
    background-color: #121212;
    border: none;
    width: 500px;
}

header .search button {
    width: 4rem;
    height: 2.4rem;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #313131;
  }

  header .search #mic{
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50px;
      margin-left: 1rem;
      background-color: #121212;
  }

  header .profile {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: right;

  }

  header .profile img{
      border-radius: 50px;
  }

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

main .sidebar {
    padding-top: 1rem;
    padding: .4rem;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 2rem;
    background-color: #202020;
    align-content: start;
    height: calc(100vh - 3.5rem);
    position: sticky;
    top: 3.5rem;
}

main .sidebar div {
    display: grid;
    justify-items: center;
    grid-gap: 5px;
}

main .sidebar span {
    color: #f2f2f2;
    font-size: 10px;
}

.center {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #202020;
}

.topbar {
    display: grid;
    grid-auto-flow: column;
    grid-gap: .5rem;
    padding: 1rem 0rem;
    background-color: #202020ea;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    position: sticky;
    top: 3.5rem;
    justify-content: left;

    backdrop-filter: blur(3px);
}

.topbar button {
    padding: 0.5rem;
    border-radius: 25px;
    border: solid 1px #303030;
    background-color: #373737;
    color: #f2f2f2;
    cursor: pointer;
    transition: .3s;
}

.topbar button:hover {
    background-color: #404040;
}

.topbar button:active {
    background-color: #f2f2f2;
    color: #202020;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content: start;
    justify-content: center;
    grid-gap: 1rem;
    padding: 1rem;
}

.video {
    display: grid;
    grid-template-rows: 180px auto;
    color: #f2f2f2;
    text-decoration: unset;
    color: unset;
}

.video .thumbnail {
    background-image: url(https://i.ytimg.com/vi/YqJbt4wQvfY/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBdXiF4SsFP1t1mREUOxWLvIRSOxA);
    background-size: cover;
    background-position: center;
}

.video .info {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.video .more-info {
    display: grid;
    grid-gap: .3rem;
}

.video .profile-pic {
    padding: 0.5rem;
}

.video .profile-pic img {
    border-radius: 50px;
    width: 50px;
}

.video .more-info {
    padding: .5rem;
}

.video .more-info .title {
    font-size: 1rem;
    font-weight: 600;
    color: #f2f2f2;
}

.video .more-info .channel-name {
    font-size: .8rem;
    color: #a9a9a9;
}

.video .more-info .views {
    font-size: .8rem;
    color: #a9a9a9;
    font-weight: 500;
}