* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

* a{
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgba(255, 0, 0, 0.3);
}

header {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    padding:0rem 1.6rem;
    background-color: #202020;
    width: 100vw;
    height: 3.5rem;
}

header .logo {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
    justify-content: left;
}

header .search {
    display: grid;
    grid-template-columns:500px 4rem 2.4rem;
    grid-gap: none;
    align-items: center;
    justify-items: left;
    width: 100%;
}

header .search input[type=text] {
    padding: .7rem;
    background-color: #121212;
    border: none;
    width: 500px;
}

header .search button {
    width: 4rem;
    height: 2.4rem;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #313131;
  }

  header .search #mic{
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50px;
      margin-left: 1rem;
      background-color: #121212;
  }

  header .profile {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: right;

  }

  header .profile img{
      border-radius: 50px;
  }

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

main .sidebar {
    padding-top: 1rem;
    padding: .4rem;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 2rem;
    background-color: #202020;
    align-content: start;
    height: 100vh;
}

main .sidebar div {
    display: grid;
    justify-items: center;
    grid-gap: 5px;
}

main .sidebar span {
    color: #f2f2f2;
    font-size: 10px;
}

.center {
    display: grid;
    grid-template-rows: auto 1fr;
}

.topbar {
    background-color: rgba(255, 0, 255, 0.3);
}

.videos {
    background-color: rgba(0, 255, 255, 0.3);
}